.cookie-banner {
  @include flex-align-center($jst-cnt:space-between, $aln-itm:stretch);

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 5;
  transition-property: opacity;
  transition-duration: 550ms;

  &--hidden {
    opacity: 0;
  }

  &--deleted {
    display: none;
  }

  &__text {
    @include flex-align-center($aln-itm:flex-start, $dir:column);
  }

  &__paragraph {
    color: $white;
  }

  &__link {
    margin-top: 0.2rem;
    color: $white;
    text-decoration: underline;
  }

  &__button {
    width: 7rem;
    margin: 0.5rem 0 0.5rem 1rem;
    font-weight: bolder;
    background-color: $white;
    color: $black;
    border: none;
  }

  &__button:hover {
    cursor: pointer;
  }

  @media (max-width: 480px) {
    height: 7rem;

    &__paragraph,
    &__link,
    &__button {
      font-size: $small-font;
    }

    &__button {
      margin: 1rem 0 1rem 1rem;
      padding: 0 0.5rem;
    }
  }

  @media (max-width: 850px) and (orientation: landscape) {
    height: 4.5rem;

    &__paragraph,
    &__link,
    &__button {
      font-size: $small-font;
    }
  }
}
